@import 'tailwindcss';

/* @theme {
    --color-box: '#171717',
    --color-error: tomato;
    /* 
    content: '#252525',
    error: 'tomato',
    input: '#2f2f2f',
    primary: '#2b88c1',
    text: '#e2d4b8',
    textPrimary: 'white' */

ul{
    list-style: none;
}

.flexR{
    display: flex;
    flex-direction: row;
}

.flexC{
    display: flex;
    flex-direction: column;
}