@import 'tailwindcss';

body, html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

body {
    -webkit-user-select: none; 
    -ms-user-select: none;     
    user-select: none;        

    -webkit-tap-highlight-color: transparent;

    touch-action: none;

    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

ul{
    list-style: none;
}

.scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 transparent;
}
.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 9999px;
}