*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

.flexR{
    display: flex;
    flex-direction: row;
}

.flexC{
    display: flex;
    flex-direction: column;
}